.header-options-container {
  display: flex;
}

.header-option {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 120px;
  padding: 0 5px;
  cursor: pointer;
  min-width: 120px;
}

