.app {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(97.45deg, #002F52 35.49%, #326589 165.37%);
}

.app-header {
  background-color: white;
  display: flex;
  justify-content: center;
}


li {
  list-style: none;
}